[*.cs]

# RCS1123: Add parentheses according to operator precedence.
dotnet_diagnostic.RCS1123.severity = none

# RCS1018: Add accessibility modifiers.
dotnet_diagnostic.RCS1018.severity = none

# RCS1129: Remove redundant field initalization.
dotnet_diagnostic.RCS1129.severity = none

# RCS1036: Remove redundant empty line.
dotnet_diagnostic.RCS1036.severity = none
